<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InvestIR - Amanse o leão</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/investir_basico.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">James M. Tremea</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>DARF de Abril/2017</strong>
                                    <span class="pull-right text-muted">
                                        <em>04/05/2017</em>
                                    </span>
                                </div>
                                <div>Foi gerado o DARF do IRPF relativo às suas movimentações de Abril de 2017.<br>
                                     Acesse aqui o arquivo em anexo...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>DARF de Março/2017</strong>
                                    <span class="pull-right text-muted">
                                        <em>02/04/2017</em>
                                    </span>
                                </div>
                                <div>Foi gerado o DARF do IRPF relativo às suas movimentações de Março de 2017.<br>
                                     Acesse aqui o arquivo em anexo...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>e-Finance</strong>
                                    <span class="pull-right text-muted">
                                        <em>30/03/2017</em>
                                    </span>
                                </div>
                                <div>Prezado Cliente,<br>
                                     É pensando em você que a nossa equipe...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Ler todas as mensagens</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                
  
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Nota Pendente
                                    <span class="pull-right text-muted small">4 minutos atrás</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> Nova Nota de Corretagem
                                    <span class="pull-right text-muted small">Ontem</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Ver todos os Alertas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil do Usuário</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="buscar...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="home.html"><i class="fa fa-dashboard fa-fw"></i> Página Inicial</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Gráficos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Carteira</a>
                                </li>
                                <li>
                                    <a href="morris.html">Impostos</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="carteira.html"><i class="fa fa-table fa-fw"></i> Carteira</a>
                        </li>
                        
                        <li>
                            <a href="notas.html"><i class="fa fa-table fa-fw"></i> Notas</a>
                        </li>
                        

                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Resumo<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"> Anual</a>
                                </li>
                                <li>
                                    <a href="#">Mensal <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Janeiro</a>
                                        </li>
                                        <li>
                                            <a href="#">Fevereiro</a>
                                        </li>
                                        <li>
                                            <a href="#">Março</a>
                                        </li>
                                        <li>
                                            <a href="#">Abril</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Ano Anterior</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-5">
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-9 text-right">
	                                    <div class="big-font">InvestIR</div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>	                    
	                </div>
	                                
	                <div class="col-lg-4 col-md-9">
	                    <div class="panel panel-gray">
	                        <div class="panel-heading">
	                             <div class="row">     
	                                <div class="col-xs-9 text-right">
	                                    <div class="form-group">
	                                    	<label>Importar Nota</label>
                                            <input type="file">
                                        </div>
	                                </div>
	                            </div>      
	                        </div>
	                    </div>	                    
	                </div>
    
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            
            <div class="row">
             	<div class="col-lg-12">
             		<div class="panel panel-default">
                        <div class="panel-heading">
                            Sua carteira
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                	<div class="panel-heading  alert-success">
			                            Posição financeira inicial
			                        </div>
                                    <form role="form">
	                                    <div class="col-lg-6">
	                                    	<div class="row"> 
		                                    	<div class="form-group">
		                                            <label id="label_data_ref">Data de Referência</label>
		                                            <input id="input_data_ref" class="form-control" placeholder="01/01/2001">
		                                            <p class="help-block">Digite aqui a data a que se referm os dados</p>
		                                        </div>
											</div>
	                                    	<div class="row"> 
		                                    	<div class="form-group">
		                                            <label id="label_cred_irrf">Crédito de IRRF</label>
		                                            <input id="input_cred_irrf" class="form-control" placeholder="0,00">
		                                            <p class="help-block">Digite aqui o seu crédito acumulado de IRRF</p>
		                                        </div>
											</div>
											<div class="row"> 
		                                        <button id="btn_submit_form_1" type="submit" class="btn btn-default">Salvar</button>
		                                    	<button id="btn_reset_form_1" type="reset" class="btn btn-default">Limpar Campos</button>
											</div>
	                                    	
										</div>
										<div class="col-lg-6">
											<div class="row"> 
		                                        <div class="form-group">
		                                            <label id="label_prej_normal">Prejuízo Acumulado em Operações Normais</label>
		                                            <input id="input_prej_normal" class="form-control" placeholder="0,00">
		                                            <p class="help-block">Digite aqui o seu prejuízo acumulado em operações à vista</p>
		                                        </div>
											</div>	  
											<div class="row">                                       
		                                        <div class="form-group">
		                                            <label id="label_prej_daytrade">Prejuízo Acumulado em Operações Daytrade</label>
		                                            <input id="input_prej_daytrade" class="form-control" placeholder="0,00">
		                                            <p class="help-block">Digite aqui o seu prejuízo acumulado em operações Daytrade</p>
		                                        </div>
											</div>
											<div class="row"> 
		                                        <div class="form-group">
		                                            <label id="label_prej_fii">Prejuízo Acumulado em Operações com FII's</label>
		                                            <input id="input_prej_fii" class="form-control" placeholder="0,00">
		                                            <p class="help-block">Digite aqui o seu prejuízo acumulado em operações com FII's</p>
		                                        </div> 
											</div>
										</div>
										
										<div class="row"> 
											<p> &nbsp </p>
											<!-- ./endForm -->
										</div>	
										
									</form>
								</div>
								
								<div class="col-lg-12">
								
									<div class="panel-heading alert-info">
			                            Posição Acionária Inicial
			                        </div>
			                        
			                        <div class="panel-body">
			                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
			                                <thead>
			                                	<!-- Início da lista de ativos já inseridos -->
			                                    <tr>
			                                        <th width="80px">Quant</th>
			                                        <th width="150px">Tipo</th>
			                                        <th width="150px">Ativo</th>
			                                        <th width="150px">Vcto</th>
			                                        <th width="120px">Preço médio</th>
			                                        <th width="120px">Valor</th>
			                                        <th> </th>
			                                	</tr>
			                                </thead>
			                                <tbody>
			                                	<tr class="odd gradeX">
			                                        <td id="form_lista_quant"  class="center">300</td>
			                                        <td id="form_lista_tipo"   class="center">Ações</td>
			                                        <td id="form_lista_ticker" class="center">PETR4</td>
			                                        <td id="form_lista_vcto"   class="center">-</td>
			                                        <td id="form_lista_pr_med" class="center">14,3756</td>
			                                        <td id="form_lista_valor"  class="center">4.312,68</td>
			                                        <td id="head_lista_botao">
			                                        	<button id="btn_submit_form_2" type="submit" class="btn btn-warning btn-circle">
				                                        	<i class="fa fa-pencil"></i>
	                            						</button>
	                            						<button id="btn_reset_form_2" type="reset" class="btn btn-danger btn-circle">
				                                        	<i class="fa fa-times"></i>
	                            						</button>
			                                        </td>
			                                    </tr> 
			                                    <!-- Fim da lista de ativos já inseridos -->
			                                    
			                                    <!-- Linha em branco para inserção de novos Ativos -->
			                                    <form role="form">
			                                        <div class="form-group">
					                                    <tr class="odd gradeX">
					                                        <td class="center">
					                                        	<input class="form-control" id="form_lista_quant" placeholder="0">
															</td>
					                                        <td class="center" id="form_lista_tipo">
					                                        	<select class="form-control">
						                                                <option>Ação</option>
						                                                <option>Opção</option>
						                                                <option>FII</option>
						                                                <option>Dólar</option>
                                                						<option>Ouro</option>
						                                                <option>Futuro</option>
						                                        </select>
															</td>
					                                        <td class="center">
					                                        	<input class="form-control" id="form_lista_ticker" type="text" placeholder="ticker">
															</td>
					                                        <td class="center">
					                                        	<input class="form-control" id="form_lista_vcto" type="date" placeholder="01/01/2001">
															</td>
					                                        <td class="center">
					                                        	<input class="form-control" id="form_lista_pr_med" type="text" placeholder="0,00">
															</td>
					                                        <td class="center">
					                                        	<input class="form-control" id="form_lista_valor" type="text" placeholder="0,00" disabled>
															</td>
					                                        <td>
			                            						<button id="btn_adiciona_form_1" type="button" class="btn btn-primary btn-circle">
						                                        	<i class="fa fa-plus"></i>
			                            						</button>
					                                        </td>
					                                    </tr>
													</div>
												</form>
			                                    <!--  Fim da linha em branco -->
			                                    
			                                    
			                                </tbody>
			                            </table>
			                            
			                            <button id="btn_submit_form_2" type="submit" class="btn btn-default">Salvar</button>
                                        <button id="btn_reset_form_2" type="reset" class="btn btn-default">Limpar Tudo</button>
                                        
			                            <!-- /.table-responsive -->
									</div>
			                        
						
								</div>
							</div>
						</div>
					</div>
             	
                </div>
            </div>
            <!-- /.row -->
            <div class="row">

                
  
         
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
<!--     <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
  -->   
</body>

</html>
